<ion-header >
  <ion-toolbar class="new-background-color"   >
   
      <div style="text-align: center;width: 98%;margin-top: 0.5px;margin-left: 0.5px;margin-right: 5px;padding-right: 5px;">
        <ion-grid style="width: 100%;">
          <ion-row  >  
            <ion-col push-md="1"  align-self: start  style="align-items: left;" >                  
              <div   style="text-align: left;width: 100%;"   >  
                <img style="height: 40px;align-self: left;" src = "assets/theme/shangdesigns.png" >
                </div>            
            </ion-col>

           <ion-col push-md="1" align-self: center  style="align-items: left;margin-top: 10px;" >                  
                <div   style="text-align: right;width: 100%;"   > 
                         <img style="height: 40px;align-self: left;" src = "assets/theme/account icon.png" >
                  </div>            
              </ion-col>            

              
                      
      
          </ion-row>

        </ion-grid>
      </div>

  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">
  
     <ion-label>Welcome</ion-label>
      <ion-label>Ann</ion-label>
 
</ion-content>
