<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <img  src = "assets/theme/home.png" style="height: 25px;"> 
      
    </ion-tab-button>

    <ion-tab-button tab="tab-live-classes">
      <!-- <ion-icon name="search"></ion-icon> -->
      <img  src = "assets/theme/live courses.png" style="height: 25px;">               
      
    </ion-tab-button>

    <ion-tab-button tab="tab-search">
      <!-- <ion-icon name="cart"></ion-icon> -->
      <img  src = "assets/theme/search.png" style="height: 25px;">    
      
    </ion-tab-button>

    <ion-tab-button tab="tab-mycourses">
      <!-- <ion-icon name="person-add"></ion-icon> -->
      <img  src = "assets/theme/my course.png" style="height: 25px;"> 
     
    </ion-tab-button>
  
   
    <ion-tab-button tab="tab-wishlist">
      <!-- <ion-icon name="person-add"></ion-icon> -->
      <img  src = "assets/theme/wish list.png" style="height: 25px;"> 
     
    </ion-tab-button>


  <ion-tab-button tab="tab-account">
      <!-- <ion-icon name="person-add"></ion-icon> -->
      <img  src = "assets/theme/account 2.png" style="height: 25px;"> 
      
    </ion-tab-button>

  </ion-tab-bar>

  
</ion-tabs>
